{
	"timeout": 3000,
	"load": {
		"before": [],
		"order": [
		"Define the hooks' load order by putting their names in this array in the right order"
		],
		"after": []
	},
	"ssmqtt": {
		"enabled": true,
		"dependencies":["strapi-hook-bookshelf"],
		"login": true,
		"username": "strapi-ssmqtt",
		"password": "test123",
		"broker": "192.168.40.119",
		"port": "1883"
	}
}
